.inputContainer {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.inputGeral {
    width: 100%;
    min-height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 5px;
} 

.inputGeral:focus {
    outline: 2px solid #69DFB5;
}