.donationsContainer {
    display: flex;
    height: 92vh;
    background-color: #c8fae9;
    justify-content: center;
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    color: #64c2a1
}

.basketShow {
    margin-top: 20px;
    height: 50%;
    width: 100%;
}

.formContainer {
    display: flex;
    margin: 20px 0;
    width: 700px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.buttonContainer {
    margin-top: 20px;
}

.basketTable {
    display: flex;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    width: 100%;
    background-color: #64c2a1;
    border-radius: 5px;
    
}

.produto {
    margin-right: 5px;
    border-right: 1px solid white;
    flex: 1
}

.qnt {
    margin-right: 5px;
    border-right: 1px solid white;
    flex: 1
}

.valor {
    flex: 1;
    padding-right: 53px;
}